<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.febriputratrisbudiono.crudvolley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUDVolley"
        android:usesCleartextTraffic="true">
        <activity android:name=".Dashboard.Dashboard"></activity>
        <activity android:name=".Absenku.Absenku" />
        <activity android:name=".Absen.Absen" />
        <activity android:name=".Anggota.Lihat_data" />
        <activity android:name=".Anggota.Tampil_data" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>